NET "ETH_TXD_OUT[0]" 		OFFSET = OUT 6 ns AFTER ETH_CLK_IN FALLING;
NET "ETH_TXD_OUT[1]" 		OFFSET = OUT 6 ns AFTER ETH_CLK_IN FALLING;
NET "ETH_TXD_EN_OUT" 		OFFSET = OUT 6 ns AFTER ETH_CLK_IN FALLING;
